@model MMUniGraduation.Models.Create.CreateLecture

@{
    var courses = Model.Courses
        .Select(x => new SelectListItem(x.Value, x.Key));
    var lectures = Model.AllLectures
        .Select(x => new SelectListItem(x.Value, x.Key));
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    .btn {
        border: none;
        color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
    }

    .success {
        background-color: #04AA6D;
    }
        /* Green */
        .success:hover {
            background-color: #46a049;
        }

    .info {
        background-color: #2196F3;
    }
        /* Blue */
        .info:hover {
            background: #0b7dda;
        }
</style>

<h1 style="padding-top:25px; padding-bottom:1em; text-align:center;">@ViewData["Title"]</h1>
<form asp-action="Create" asp-controller="Lecture" enctype="multipart/form-data">
    <div>
        <h4>Lecture information</h4>
        <input asp-for="Name" class="form-control" type="text" placeholder="Lecture name"><br />
        <textarea asp-for="Description" class="form-control" type="text" placeholder="Lecture Description"></textarea>

        <br /><br />
        <h4>Lecture inheritance</h4>
        <label>Select corresponding course</label>
        <select asp-for="CourseId" class="form-control" asp-items="courses"></select>
        <br />
        <label>Select parent lecture</label>
        <select asp-for="ParetntLectureId" class="form-control" asp-items="lectures">
            <option asp-for="ParetntId" value="0">No inheritance</option>
        </select>

        <br />
        <hr />
        <br />

        <h4>Lecture materials..</h4>
        <label>Files</label>
        <input asp-for="Files" class="form-control" />
        <br />

        <div class="input-group">
            <div class="custom-file form-control">
                <input asp-for="Files" class="custom-file-input form-control" id="inputGroupFile04">
                <label class="custom-file-label form-control" for="inputGroupFile04">Choose lecture materials</label>

                @*<input asp-for="Files" class="custom-file-input form-control" id="inputGroupFile04">
                <label class="custom-file-label form-control" for="inputGroupFile04">Choose lecture materials</label>*@
            </div>
        </div>
        <label>Video url</label>
        <input asp-for="VideoUrl" class="form-control" type="url" placeholder="Video url"><br />

        <div>
            <!--
        <div class="custom-file mb-3">
                <input class="form-control" type="text" placeholder="Video"><br />
            <input type="file" class="custom-file-input" id="customFile" name="filename">
            <label class="custom-file-label" for="customFile">Upload video lecture</label>
        </div>
        <br />
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="customFile" name="filename">
            <label class="custom-file-label" for="customFile">Upload word lecture</label>
        </div>
        <br />
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="customFile" name="filename">
            <label class="custom-file-label" for="customFile">Upload homework file</label>
        </div>
        <br />
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="customFile" name="filename">
            <label class="custom-file-label" for="customFile">Upload advanced homework file</label>
        </div>
        -->
            <!--

        <input class="form-control" type="text" placeholder="word"><br />
        <input class="form-control" type="text" placeholder="homework"><br />
        <input class="form-control" type="text" placeholder="advanced homework"><br />
        -->
        </div>
        <hr />
        <br />
        <h4>Lecture criteria</h4>
        <div>
            <div class="form-group">
                <label asp-for="DateTimeToShow" class="control-label"></label>
                <input asp-for="DateTimeToShow" class="form-control" />
                <span asp-validation-for="DateTimeToShow" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="EndDateTimeForHW" class="control-label"></label>
                <input asp-for="EndDateTimeForHW" class="form-control" />
                <span asp-validation-for="EndDateTimeForHW" class="text-danger"></span>
            </div>

            @*<input class="form-control" type="text" placeholder="Criterias"><br />
            <label for="party">Enter a date and time on which the lecture will be available:</label><br />
            <input asp-for="DateTimeToShow" type="datetime-local" id="lecture-time"
                   name="lecture-time" value="2018-06-12T19:30">
            <br />
            <br /><label for="party">Enter end date and time of homewokr submittion. If the homework is submitted before this date/time then the lecture will be available:</label><br />
            <input asp-for="EndDateTimeForHW" type="datetime-local" id="lecture-time"
                   name="lecture-time" value="2018-06-12T19:30"
                   min="2018-06-07T00:00">
            <br />*@
            <br />
            @*<input class="form-control" type="text" placeholder="Select students who can see the course"><br />
            <input class="form-control" type="text" placeholder="Enter min grade to be shown"><br />
            <input class="form-control" type="text" placeholder="Enter min count of submitted HW"><br />*@

        </div>

    </div>
    <br />
    <button class="btn info">Create</button>
</form>
