@model MMUniGraduation.Models.Create.CreateStudyProgram

<style>
    .btn {
        border: none;
        color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
    }

    .success {
        background-color: #04AA6D;
    }
        /* Green */
        .success:hover {
            background-color: #46a049;
        }

    .info {
        background-color: #2196F3;
    }
        /* Blue */
        .info:hover {
            background: #0b7dda;
        }
</style>

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-heading alert-dismissible" style="color: darkred; font-weight: bold; text-align: center; border-block: solid; border-color: darkred;">
        @this.TempData["Message"]
    </div>
}

<h1 style="padding-top:25px; text-align:center;">Create Program</h1>

<div>
    <form asp-action="Create" asp-controller="StudyProgram" enctype="multipart/form-data">
        <h4>Study program information</h4>
        <br />

        <label>Program Name</label>
        <input asp-for="Name" class="form-control" type="text" placeholder="Program name">
        <br />

        <label>Program descroption</label>
        <textarea asp-for="Description" class="form-control" type="text" placeholder="Program desc" required></textarea>
        <br />

        <label>Image</label>
        <div class="input-group">
            <div class="custom-file form-control">
                <input asp-for="Images" class="custom-file-input form-control" id="inputGroupFile04" type="file">
                <label class="custom-file-label form-control" for="inputGroupFile04">Choose image</label>
            </div>
        </div>
        <br />
        <button class="btn info">Create</button>

    </form>
    <br />
    <div>
        <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
