@model MMUniGraduation.Models.Create.CreateCourse

@{
    var studyPrograms = Model.StudyPrograms
        .Select(x => new SelectListItem(x.Value, x.Key));
    var courses = Model.Courses
        .Select(x => new SelectListItem(x.Value, x.Key));
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    .btn {
        border: none;
        color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
    }

    .success {
        background-color: #04AA6D;
    }
        /* Green */
        .success:hover {
            background-color: #46a049;
        }

    .info {
        background-color: #2196F3;
    }
        /* Blue */
        .info:hover {
            background: #0b7dda;
        }
</style>

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-heading alert-dismissible" style="color: darkred; font-weight: bold; text-align: center; border-block: solid; border-color: darkred;">
        @this.TempData["Message"]
    </div>
}

<h1 style="padding-top:25px; text-align:center;">Create Course</h1>

<div>
    <form asp-controller="Course" asp-action="Create" enctype="multipart/form-data">

        <h4>Course information</h4>

        <label>Course name</label>
        <input asp-for="Name" class="form-control" type="text" placeholder="Couse name">
        <br />

        <label>Course program</label>
        @Html.DropDownListFor(x => Model.StudyProgramId, new SelectList(studyPrograms, "Value", "Text"), "---Select Program---", htmlAttributes: new { @class = "form-control", id = "Program" })
        <br />

        <label>Course description</label>
        <textarea asp-for="Description" class="form-control" type="text" placeholder="Couse Description"></textarea>

        <br /><hr /><br />

        <h4>Course inheritance</h4>
        <div>
            <label>Select parent course</label>
            @Html.DropDownListFor(x => Model.ParetntId, new SelectList(courses, "Value", "Text"), "---No course inheritance---", htmlAttributes: new { @class = "form-control", @id = "Course" })

        </div>
        <br /><hr /><br />

        <h4>Course criteria</h4>
        <div>
            <br />
            <div class="form-group">
                <label>Coure Start Date</label>
                <input asp-for="CourseStartDate" class="form-control" />
                <span asp-validation-for="CourseStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Skipping Coure End Date</label>
                <input asp-for="SkipCoursEndDate" class="form-control" />
                <span asp-validation-for="SkipCoursEndDate" class="text-danger"></span>
            </div>
            <br />
            <label>Skipping course material</label>
            <div class="input-group">
                <div class="custom-file form-control">
                    <input asp-for="SkippingCourseFiles" class="custom-file-input form-control" id="inputGroupFile04">
                    <label class="custom-file-label form-control" for="inputGroupFile04">Choose skipping course material</label>
                </div>
            </div>
            <br />
            <label>Minimal grade to pass the course</label>
            <input asp-for="MinimalGradeToPass" class="form-control" type="number" min="2" max="6" placeholder="Minimal grade" value="">
            <br />
        </div>
        <br />
        <button class="btn info">Create</button>
    </form>

    <div>
        <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    $('#Program').change(function () {
                //we get selected value of programs
        var selectedProgram = $("#Program").val();
                var coursesSelect = $('#Course');
        coursesSelect.empty();
        coursesSelect.append($('<option/>', {
            value: 0,
            text: "---No course inheritance---"
        }));
        if (selectedProgram != null && selectedProgram != '') {
                    //the result from GetCourses(int programId) is stored in courses object
            $.getJSON('@Url.Action("GetCourses")', { programId: selectedProgram }, function (dropdownData) {
                        if (dropdownData != null && !jQuery.isEmptyObject(dropdownData))
                        {
                            $.each(dropdownData, function (index, data) {
                                coursesSelect.append($('<option/>', {
                                    value: data.value,
                                    text: data.text
                                }));
                            });
                        };
                    });
                }
            });
    </script>
}
