@model MMUniGraduation.Models.Create.CreateCourse

@{
    var studyPrograms = Model.StudyPrograms
        .Select(x => new SelectListItem(x.Value, x.Key));
}

<style>
    .btn {
        border: none;
        color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
    }

    .success {
        background-color: #04AA6D;
    }
        /* Green */
        .success:hover {
            background-color: #46a049;
        }

    .info {
        background-color: #2196F3;
    }
        /* Blue */
        .info:hover {
            background: #0b7dda;
        }
</style>
<script>
    var dt = $("#datetimepicker1").find("input").val();
    alert("Current Date and Time: " + dt);
    var dateTime = {
        CourseStartDate: dt
    };


    alert(JSON.stringify(dateTime));
    $.ajax({

        url: "/CourseController/Create",
        type: "POST",

        data: { model: dateTime },

        success: function (result) {
            alert(result);
        },
        error: function (xhr, exception) {
            alert("Error");
        }
    });
</script>

<h1 style="padding-top:25px; text-align:center;">Create Course</h1>

<div>
    <form asp-controller="Course" asp-action="Create" enctype="multipart/form-data">

        <h4>Course information</h4>

        <label>Course name</label>
        <input asp-for="Name" class="form-control" type="text" placeholder="Couse name">
        <br />

        <label>Course program</label>
        <select asp-for="StudyProgramId" class="form-control" asp-items="studyPrograms"></select>
        <br />

        <label>Course description</label>
        <textarea asp-for="Description" class="form-control" type="text" placeholder="Couse Description"></textarea>

        <br /><hr /><br />

        <h4>Course inheritance</h4>
        <div>
            <input asp-for="ParetntID" class="form-control" type="text" placeholder="Paretnt Couse Signature"><br />
            @*<input asp-for="NextCourseSignature" class="form-control" type="text" placeholder="Next Course Signature"><br />*@
        </div>
        <hr /><br />

        <h4>Course criteria</h4>
        <div>
            <br />
            <div class="form-group">
                <label>Coure Start Date</label>
                <input asp-for="CourseStartDate" class="form-control" />
                <span asp-validation-for="CourseStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Skip Coure End Date</label>
                <input asp-for="SkipCoursEndDate" class="form-control" />
                <span asp-validation-for="SkipCoursEndDate" class="text-danger"></span>
            </div>
            <br />
            @*<div id="datetimepicker1" class="date">
                    <label for="party">Enter a date and time for start of the course:</label><br />
                    <input data-format="yyyy-MM-dd hh:mm:ss" type="datetime-local">
                </div>
                <br />*@
            @*<input class="form-control" type="text" placeholder="Select students who can see the course"><br />
                @Html.EditorFor(model => model.CourseStartDate, new { htmlAttributes = new { @class = "datepicker", @style = "height: 30px" } })*@
        </div>
        <br />
        <button class="btn info">Create</button>
    </form>

    <div>
        <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
